/* player.css */

[data-theme="light"] .player {
  background-color: #f5f5f5;
}
/* Цвет фона для .player в темной теме */
[data-theme="dark"] .player {
  background-color: var(--color-bg-dark);
}

[data-theme="light"] .app__menu {
  background-color: #f5f5f5;
}
/* Цвет фона для .player в темной теме */
[data-theme="dark"] .app__menu {
  background-color: var(--color-bg-dark);
}

[data-theme="light"] .loading-indicator {
  border-left-color: #333;
}
/* Цвет фона для .player в темной теме */
[data-theme="dark"] .loading-indicator {
  border-left-color: #fff;
}

[data-theme="dark"] .player__controls button {
  background-color: #606060;
  border-radius: 0;
}

.player_all_title {
  height: 0px;
  width: 100%;
}

.player_all_title p {
  margin: 0;
  padding: 0;
  /*   font-size: 75%;  */
}
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  /*   background-color: #f5f5f5; */
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.player img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.player__info {
  display: flex;

  flex: 1;
}

.player__info h4 {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__controls {
  display: flex;
  align-items: center;
}

.player__controls button {
  margin-left: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.player__controls button:hover {
  background-color: #0056b3;
}
.player__title {
  /*   font-size: small; */
  /* font-size: 10px; */
  font-size-adjust: 0.5;
}
.player__artist {
  /* font-size: 10px; */
  font-size-adjust: 0.5;
}
.app__menu {
  right: 20px;
  position: fixed;
  bottom: 65px;
  /* background-color: #ffffff; */
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.player__menu-item {
  margin-bottom: 10px;
}

.player__menu-item:last-child {
  margin-bottom: 0;
}



.loading-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Добавьте медиа-запрос для мобильных устройств */
@media screen and (max-width: 767px) {
  .player {
    padding: 0 10px; /* Уменьшите отступы слева и справа */
  }

  .player img {
    width: 40px;
    height: 40px;
  }

  .player__info h4 {
    font-size: 14px;
  }

  /* .player__controls button {
    padding: 6px 10px;
  } */
}
@media only screen and (max-width: 600px) {
  .player__controls button {
    padding: 5px 7px;
  }
  .player__title {
    font-size: 55%;
  }
  .player__artist {

    font-size: 65%;
  }
  /* CSS rules for screens with max-width of 600px */
}

@media only screen and (min-width: 601px) {
  .player {
    padding: 0 25% 0 25%;
  }
  .player__title {
    font-size: 85%;
  }
  .player__artist {

    font-size: 90%;
  }

  .player__controls button {
    padding: 8px 12px;
  }
  /* CSS rules for screens with min-width of 601px */
}
