/* styles.css */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}


html,
body {
/*   margin: 0; */
/*   padding: 0; */
  overflow-x: hidden;
  max-width: 100%;
}
body {
  font-family: HK Grotesk;
/*   background-color: var(--color-bg); */
  overflow-x: hidden; /* Добавьте это свойство */
}
a {
    font-size: 11px;
}
ul {
  width: inherit;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  max-width: 300px;
  list-style-type: none;
  margin: 50px 0 50px 0;
}
h1 {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}
img {
  max-width: 100%;
}
:root {
  
  --color-bg: #FFFFA0;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 85vh;
  --image-max-width: 10px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

:root {
  /* Цвета для светлой темы */
  --color-bg-light: #ffffff;
  --color-text-light: #333333;
  /* Цвета для темной темы */
  --color-bg-dark: #333333;
  --color-text-dark: #ffffff;
}

/* Стили для светлой темы */
[data-theme="light"] {
  background-color: var(--color-bg);
  color: var(--color-text-light);
}

/* Стили для темной темы */
[data-theme="dark"] {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

[data-theme="light"] .looper-list li {
  background-color: #ededed;
}

/* Цвет фона для .player в темной теме */
[data-theme="dark"] .looper-list li {
  background-color: #242424;
}
[data-theme="light"] .panel {
  background-color: #f5f5f5;
}

/* Цвет фона для .player в темной теме */
[data-theme="dark"] .panel {
  background-color: var(--color-bg-dark);
}

[data-theme="dark"] .btn--panel-toggle {
    background-color: #4e4e4e;
    border-radius: 0px;
}

[data-theme="dark"] .controls button,
.controls a {
  text-transform: uppercase;
  background-color: #4a4a4a;
  border-radius: 0px;

}


.app__menu-item-separator {
  margin-bottom: 1rem;
}






.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
  overflow-x: hidden; /* Добавьте это свойство */
  max-width: 100%;
}


.playButton {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.playButton:hover {
  background-color: #e0e0e0;
}

.playButton:focus {
  border-color: #007bff;
}



.btn--panel-toggle {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.content h2 {
  font-family: HK Grotesk;
  color: black;
  text-align: center
}
.panel {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.track {
  display: flex;
/*   align-items: center; */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.track img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.track h3 {
  align-items: left;
  margin: 0;
  font-size: 85%;
font-size-adjust: 0.5;
}

.controls {
  margin-left: auto;
}

.controls button,
.controls a {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover,
.controls a:hover {
  background-color: #006bb3;
}

/* img{
    width:100%;
} */
/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}



/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: calc(100% - 2rem); /* Измените это свойство */
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}


.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}
h2 {
/*   color: #2800FF; */
  text-align: center;
}
@media screen and (max-width: 767px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  li {
    width: 100%;
    padding: 10px;
/*     background-color: #f7f7f7; */
    border-radius: 5px;
    max-width: 300px;
    list-style-type: none;
    margin: 50px 0;
  }

  .wrapper {
    padding: 0 20px;
  }
}